body {
    height: 100%;
    background-color: var(--primary-colour);
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: var(--primary-colour);
}

.hidden {
    display: none;
}

.top {
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.middle {
    position: absolute;
    height: 600px;
    width: 100%;
}

.middle-left {
    position: absolute;
    left: 0;
    height: 600px;
    width: 50%;
    display: flex;
    align-items: center;
    background-color: var(--primary-colour);
}

.middle-right {
    position: absolute;
    right: 0;
    height: 600px;
    width: 50%;
    display: flex;
    align-items: center;
    background-color: var(--primary-colour);
}

.top-bar {
    background-color: var(--secondary-colour);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.website-logo {
    height: 100%;
    width: 60%;
    margin: 0 2%;
}

@media (max-width: 800px) {
    .website-logo {
        width: 100%;
    }

    .middle-left {
        width: 100%;
    }

    .middle-right {
        width: 100%;
        top: 92vh;
        height: 90vh;
    }
}

.file-uploader {
    height: 600px;
    width: 100%;
    align-items: center;
}

.title {
    font-size: 30px;
    margin: 5% 5%;
    align-items: center;
}

.file-chooser {
    align-items: center;
    display: contents;
}

.file-input-text {
    font-size: 12px;
    margin-top: 48px;
    color: var(--primary-text);
}

.body-text {
    height: 50px;
    font-size: 15px;
    margin: 10px;
    color: var(--primary-text);
}

.preview-container {
    margin: 5%;
    height: 70%;
}

.drop-area {
    position: relative;
    background-color: var(--secondary-colour);
    height: 80%;
    border: 3px dashed var(--primary-colour);
    padding: 1rem;
    margin: 50px;
    transition: border-color 0.1s;
    color: var(--primary-text);
}

.drop-area.drag-over {
    border-color: var(--accent);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.button-light {
    margin: 0px 12px;
    padding: 4px 12px;
    background-color: var(--primary-colour);
    border: 1px solid var(--secondary-colour);
    border-radius: 10px;
    color: var(--secondary-colour);
}

.button-light:hover:not(:disabled) {
    background-color: var(--secondary-colour);
    border: 1px solid var(--primary-colour);
    color: var(--primary-colour);
}

.button-light:disabled {
    cursor: not-allowed;
}

.button-dark {
    margin: 0px 12px;
    padding: 4px 12px;
    background-color: var(--secondary-colour);
    border: 1px solid var(--primary-colour);
    border-radius: 10px;
    color: var(--primary-colour);
}

.button-dark:hover:not(:disabled) {
    background-color: var(--primary-colour);
    border: 1px solid var(--secondary-colour);
    color: var(--secondary-colour);
}

.button-dark:disabled {
    cursor: not-allowed;
}

.loading-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.loading-animation {
    width: 150px;
    display: flex;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    background-color: var(--primary-colour);
}

.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    border: 3px solid var(--secondary-colour);
    border-top-color: var(--accent);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.parsing-text {
    margin: 5px;
    font-size: 14px;
    color: var(--secondary-text);;
    position: relative;
}

.parsing-text::after {
    content: "Parsing";
    animation: parsingTextAnimation 1.5s infinite;
}

@keyframes parsingTextAnimation {
    0%,
    100% {
        content: "Parsing";
    }
    25% {
        content: "Parsing .";
    }
    50% {
        content: "Parsing ..";
    }
    75% {
        content: "Parsing ...";
    }
}

.scoring-text {
    margin: 5px;
    font-size: 14px;
    color: var(--secondary-text);;
    position: relative;
}

.scoring-text::after {
    content: "Scoring";
    animation: scoringTextAnimation 1.5s infinite;
}

@keyframes scoringTextAnimation {
    0%,
    100% {
        content: "Scoring";
    }
    25% {
        content: "Scoring .";
    }
    50% {
        content: "Scoring ..";
    }
    75% {
        content: "Scoring ...";
    }
}

.bounding-box {
    height: 600px;
    width: 100%;
    align-items: center;
}

.parsed-results {
    position: relative;
    background-color: var(--secondary-colour);
    height: 80%;
    border: 3px solid var(--secondary-colour);
    padding: 1rem;
    margin: 50px;
    overflow: hidden;
    color: var(--primary-text);
}

.parsed-text-container {
    overflow-y: auto;
    max-height: 600px;
    margin: 1%;
    display: flex;
}

.parsed-text {
    font-size: 12px;
    white-space: pre-wrap;
    text-align: left;
}

.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-colour);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: var(--secondary-text);
}

.close {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    cursor: pointer;
    color: var(--secondary-text);
}
