body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.light-mode {
    --primary-colour: rgb(220, 227, 233);
    --secondary-colour: rgb(50, 150, 215);
    --accent: rgb(95, 94, 107);
    --primary-text: rgb(220, 227, 233);
    --secondary-text: rgb(12, 57, 87);
}

.dark-mode {
    --primary-colour: rgb(12, 57, 87);
    --secondary-colour: rgb(50, 150, 215);
    --accent: rgb(95, 94, 107);
    --primary-text: rgb(12, 57, 87);
    --secondary-text: rgb(220, 227, 233);
}
  