.userInfo {
    margin-right:5%;
    display:inline-block;
}

.userInfoText {
    font-size:12px;
    text-align:left;
    margin: 10px; 
    float:right;
}

.userInfoPic {
    flex:1;
    margin: 10px; 
    float: left;
    width:auto;
}

.pic {
    max-width:80%;
    height:auto;
    margin-top:10%;
}

.signin {
    margin-right:5%;
}