.userInfo {
    margin-right: 5%;
}

.userInfoTextBox {
    font-size: 12px;
    text-align: left;
    padding: 0px 10px 0px 0px;
    float: right;
}

.userInfoText {
    margin: 8px 0px;
}

.userInfoPic {
    flex: 1;
    margin: 5px 8px 0px 0px;
    float: left;
    width: auto;
}

.pic {
    max-width: 80%;
    height: auto;
}

.logo-img {
    margin-top: 2px;
    margin-left: 4px;
}
